YOUTUBE_API_KEY=
GEMINI_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_APPLICATION_CREDENTIALS_JSON=
GOOGLE_SHEETS_SPREADSHEET_ID=1xEX6oQW_utPzfFDN6sFsk5aT2JwXIcaIQ8mD00fP09Q
GOOGLE_SHEETS_SHEET_NAME=動画分析
GOOGLE_SHEETS_SCRIPT_DB_SHEET_NAME=台本DB
GOOGLE_SHEETS_COMMENT_DB_SHEET_NAME=コメントDB
GOOGLE_SHEETS_COMMENT_SHEET_NAME=コメント分析
SCRIPT_VIEWER_BASE_URL=
YT_DLP_COOKIES_BASE64=
